Flask_SocketIO==3.3.2
marshmallow_sqlalchemy==0.16.1
numpy==1.16.0
Flask==1.0.2
Werkzeug==0.14.1
gevent==1.4.0
matplotlib==3.0.3
Flask_SQLAlchemy==2.3.2
Flask_Script==2.0.6
Flask_Migrate==2.4.0
pandas==0.24.2
marshmallow==2.19.0
nltk==3.4
Cython==0.29.7
pyOpenSSL==19.0.0
beautifulsoup4==4.7.1
cryptography==2.6.1
protobuf==3.7.1
ipaddr==2.2.0
lxml==4.3.3
ordereddict==1.1
usercustomize==1.0.0
wincertstore==0.2
