@media (min-width:400px){
    .global-search .form-group {
        width: 80%;
        margin: 0 15% 10px;
        display: flex;
    }
    .global-search .form-group label {
        flex-grow: 1
    }
    .global-search .form-group input {
        flex-grow: 1
    }
}