<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css"/>
        <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="/static/all.css"/>
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
        <script src="static/jquery-3.3.1.min.js" type = "text/javascript"></script>
        <script type="text/javascript" src="static/typeahead.bundle.js"></script>
        
        
    </head>
    <script type="text/javascript">        
        // var bgImageArray = ["/static/boysoverflowers-faded.png", "/static/pinocchio-faded.png", "/static/Goong-faded.png", "/static/SurplusPrincess-faded.png", "/static/Youwhocamefromthestars-faded.png" ];
		// var	base = "";
		// var	secs = 5;
		// function backgroundSequence() {
		// 	var k = 0;
		// 	for (var i = 0; i < bgImageArray.length; i++) {
		// 		setTimeout(function(){
		// 			document.body.style.background = 'url('+bgImageArray[k]+') no-repeat center center fixed';
		// 			document.body.style.backgroundSize ="cover";
		// 			if ((k+1) == bgImageArray.length) {
		// 				setTimeout(function() {
		// 					backgroundSequence(); }, (secs * 1000));
		// 			} 
		// 			else { 		
		// 				k++; 
		// 			}
		// 		}, (secs * 1000) * i) ;
		// 	} 
        // }
        
        var titles = "{{titles}}";

        



        $(document).ready(function() {
            $('#enjoyed').mdb_autocomplete({data: titles});
            $('#disliked').mdb_autocomplete({data: titles});
            // backgroundSequence()
        });
    </script>
    <body id = "searchForm">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
			<script src = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
        
        <form class="global-search" autocomplete="off">
            <!-- <h1 style="font-size: 55px; font-family:Futura; color: navy">
                
                4300 KDramaQueen
            </h1> -->

            <br><br>

            <div class="form-group first">
                <label for = "enjoyed">Shows Enjoyed:</label>
                <input id="enjoyed" type="text" name="enjoyed" class="form-control mdb-autocomplete" placeholder="Please Enter Shows You Enjoyed">
                    <label for = "disliked">Shows Disliked:</label>
                <input id="disliked" type="text" name="disliked" class="form-control" placeholder="Please Enter Shows You Dislike">
            </div>
            <div class="form-group">
                <label for = "preferred_actors"> Preferred Actors:</label>
                <input id="preferred_actors" type="text" name="preferred_actors" class="form-control mdb-autocomplete" placeholder="Please Enter your Preferred Actors">
                <label for = "preferred_genres">Genres</label>
                <input id="preferred_genres" type="text" name="preferred_genres" class="form-control mdb-autocomplete" placeholder="Please Enter Your preferred Genres">
                        
            </div>
                               
            </div>
            <div class = "sidebyside">
                <div class = 'pullabit'>
                <label for = "preferred_networks">Your Preferred Network</label>
                    <select name = "preferred_networks">
                        <option value="" selected disabled>Select a Network</option>
                            {% for n in networks %}
                            <div class='network-box'>
                                <option value = "{{n}}">{{n}}</option>  
                            </div>             
                            {% endfor %}
                        
                    </select>
                </div>
                <div class = 'pullabit'>
                <label for ='preferred_time_frame' >Time Frame:</label>
                <select  name= "preferred_from"> 
                    <option value="" selected disabled>From</option>
                    {% for x in range(1938, 2020) %}
                        <option value = {{x}}>{{x}}</option>
                    {% endfor %}
                </select>
                
                <select name = "preferred_to"> 
                        <option value="" selected disabled>To</option>
                        {% if preferred_from %}
                            {% for x in range(preferred_from, 2020) %}
                            <option value = {{x}}>{{x}}</option>
                            {% endfor %}
                        {% else %}
                        {% for x in range(1938, 2020) %}
                        <option value = {{x}}>{{x}}</option>
                            {% endfor %}
                        {% endif %}
                </select>

            </div>
            </div>
           
            <div> <button type="submit" class="btn btn-info" name = 'submit-btn'> Go! </button></div>
           
        </form>

        

        <footer>   
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </footer>

    </body>

</html>
